beautifulsoup4
bs4
certifi
chardet
gunicorn
idna
lxml
nltk
numpy
praw
prawcore
pandas
pytz
requests
scikit-learn
scipy
singledispatch
six
soupsieve
update-checker
urllib3
websocket-client
whitenoise
flask
flask_bootstrap
Flask