body{
    background-color: rgb(119, 66, 48);
}
.container{
    padding-top: 50px;
    margin: auto;
    width: 80%;
}
.main_content{
    text-align: center;
}
header h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
section img{
    padding: 45px;
    border-radius: 40%;
    width: 100px;
}
form input[type="url"]{
    outline: none;
    border-radius: 5px;
    height: 20px;
    width: 30%;
}
form input[type="submit"]{
    outline: none;
    border-radius: 5px;
    height: 27px;
    background-color: black;
    color: white;
}
